@import "tailwindcss";

@theme {
  --color-primary: #d87d4a;
  --color-dark: #101010;
  --color-light-gray: #f1f1f1;
  --color-off-white: #fafafa;
  --color-accent: #fbaf85;
}

@utility general-container {
  @apply max-w-289 mx-auto px-6 md:px-10 lg:px-6;
}

body {
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
